* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Estedad-Medium;
  src: url("/assets/font/Estedad-Medium.ttf");
}

@font-face {
  font-family: Estedad-Regular;
  src: url("/assets/font/Estedad-Regular.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Estedad-SemiBold;
  src: url("/assets/font/Estedad-SemiBold.ttf");
}

@font-face {
  font-family: Euclid-Circular-B-Medium;
  src: url("/assets/font/Euclid-Circular-B-Medium.ttf");
}

@font-face {
  font-family: Euclid-Circular-B-Regular;
  src: url("/assets/font/Euclid-Circular-B-Regular.ttf");
}

@font-face {
  font-family: Euclid-Circular-B-SemiBold;
  src: url("/assets/font/Euclid-Circular-B-SemiBold.ttf");
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

img {
  vertical-align: middle;
}

li {
  list-style-type: none;
}

.body {
  position: relative;
  background-color: #f6f6fa;
  overflow: scroll;
}

.syringe {
  offset-path: path(
    "m9.9929,144.49469c0,0 2.49998,0 4.99997,0c4.99997,0 14.99991,0 17.4999,0c7.49996,0 12.49993,0 17.4999,0c9.99994,0 19.99989,0 32.49981,0c7.49995,0 20.09354,-5.97267 32.49981,-7.49995c10.23048,-1.25943 27.53129,-6.61385 39.99976,-7.49995c17.6331,-1.25314 34.9998,-2.49999 54.99968,-2.49999c19.99988,0 49.99969,0 74.99957,0c24.99985,0 39.99976,0 57.49966,0c17.49988,0 29.8143,1.24389 42.49973,2.49999c7.46347,0.73903 19.76938,3.74054 29.99985,4.99997c14.88751,1.83273 27.40939,5.28963 34.99979,7.49995c9.89664,2.8819 12.76746,0.20247 22.49988,2.49998c10.8812,2.5687 20.03638,6.76093 27.49982,7.49995c12.68539,1.2561 23.22269,7.6217 34.99979,12.49992c8.3277,3.44945 15.21448,8.55104 19.99988,9.99994c8.62708,2.61206 15.07489,6.27812 24.99988,7.49995c10.23047,1.25943 22.41901,2.79222 39.99976,7.49995c19.91382,5.33247 49.62866,12.48772 74.99957,14.99992c29.85382,2.9561 79.99951,0 107.49939,0c19.99988,0 39.99976,0 57.49963,0c19.99988,0 34.99982,0 49.99969,0c19.99988,0 39.99976,0 54.99969,0c29.99982,0 49.99969,0 69.99963,0c24.99976,0 47.49963,0 67.49951,0c19.99988,0 41.17786,-3.64691 57.49976,-7.49995c12.16553,-2.87187 29.99976,-2.50002 44.99963,-7.49997c7.5,-2.5 34.51404,-6.12099 44.99976,-9.99994c19.33484,-7.15247 32.33154,-5.40549 49.99976,-12.49992c19.82166,-7.95914 35.401,-9.05362 49.99976,-12.49992c10.8811,-2.5687 23.27478,-3.3437 29.99976,-7.49995c3.00745,-1.85873 5,-2.49998 10,-2.49998c2.49988,0 9.99988,0 29.99976,0c19.99988,0 49.99976,0 69.99963,0c22.49988,0 42.81555,-3.30937 59.99963,0c13.21985,2.54593 22.49988,7.49995 29.99976,7.49995c5,0 12.5,0 19.99988,0c15,0 32.03491,3.87233 44.99976,7.49995c14.64441,4.09758 30.26733,2.70248 39.99976,4.99997c16.3219,3.85304 24.5592,8.71559 29.99988,9.99994c9.73242,2.29749 19.99988,4.99997 24.99988,4.99997c0,0 4.55933,1.21564 9.99988,2.49998c2.43311,0.57439 10,0 19.99988,2.49998c0,0 5.33252,3.92368 15,7.49995c5.2428,1.93947 7.88477,0.12828 14.99988,2.5c11.8584,3.95282 13.99341,4.74265 22.49988,9.99994c4.75525,2.9389 10.0321,7.0995 12.49988,7.49995c7.80359,1.26634 10,2.49998 14.99988,2.49998c2.5,0 10.26746,2.70242 20,4.99997c10.8811,2.5687 24.12195,0.48947 29.99976,9.99994c1.31433,2.12662 5,2.49998 10,2.49998c2.49988,0 9.99988,2.49998 12.49988,2.49998c7.5,0 11.3728,2.38791 19.99988,4.99997c7.17822,2.17337 10.05615,-0.91635 17.49988,0c10.23059,1.25943 22.59656,3.61296 32.49988,4.99997c18.02429,2.52438 22.59668,3.79863 29.99976,4.99997c7.80359,1.26634 10,4.99997 17.49988,4.99997c10,0 20,0 25,0c4.99976,0 7.49976,0 14.99976,0c0,0 2.5,0 10,0c10,0 15,0 29.99976,0c15,0 25,0 30,0c4.99976,0 12.49976,0 22.49976,0c7.5,0 17.5,0 22.49976,0c5,0 10,0 15,0c0,0 2.69019,-0.95671 5,0c6.53271,2.70598 5.86548,9.2636 10,14.99992c6.53735,9.06992 10.5249,19.62677 17.49976,29.99982c8.13403,12.09695 14.79395,18.46707 17.5,24.99985c2.87012,6.92908 7.38794,18.87277 10,27.49985c2.89795,9.57086 7.3877,18.87286 9.99976,27.49985c1.44897,4.78543 0.47559,14.7037 5,22.49985c5.61182,9.66992 11.04712,10.64139 15,22.49988c1.58105,4.74338 -0.76855,10.46497 2.5,14.99991c2.06738,2.86816 7.5,4.99997 7.5,4.99997c0,7.49997 0,9.99994 0,17.49991c0,7.49994 0,9.99994 0,12.49991c0,4.99997 0,7.49997 0,14.99994c0,4.99997 -2.5,14.99991 -2.5,14.99991c-2.5,7.49994 -5.73218,8.23215 -7.5,9.99991c-3.53564,3.53552 -2.29395,8.4671 -5,14.99994c-0.95679,2.30969 -1.35132,5.13367 -2.5,9.99994c-1.28442,5.44061 -5,9.99994 -7.5,12.49994c-2.5,2.5 -4.23145,2.96497 -7.5,7.49994c-4.13428,5.73627 -6.7312,5.46503 -9.99976,9.99994c-2.06738,2.86816 -5.06689,1.9256 -7.5,2.5c-5.44067,1.28436 -7.5,2.5 -12.5,7.49994c-2.5,2.5 -10,5.00006 -17.49976,14.99994c-7.5,10 -15.46509,16.73126 -20,19.99988c-5.73633,4.13446 -7.88062,5.58655 -12.5,7.49994c-3.26636,1.35297 -10.26733,0.20251 -19.99976,2.5c-10.88135,2.56866 -32.49976,7.49994 -49.99976,7.49994c-15,0 -29.99976,0 -42.49976,0c-5,0 -15.18042,-0.60901 -24.99976,-2.5c-13.21997,-2.5459 -17.5,-4.99994 -27.49988,-4.99994c-2.5,0 -12.20374,-0.47577 -19.99988,-5c-4.83496,-2.80585 -15.13538,-3.58167 -22.49988,-4.99994c-13.21997,-2.54596 -19.76929,-6.24054 -29.99988,-7.5c-2.48132,-0.30548 -10.38049,-0.58655 -14.99988,-2.49994c-6.53284,-2.70599 -10,-5 -12.49988,-5c-5,0 -9.56104,-2.25531 -12.5,2.5c-3.94299,6.37982 -1.23169,17.56073 0,29.99982c1.2561,12.68542 7.29407,20.96704 10,27.49982c1.91345,4.61938 5.7467,7.05273 9.99988,14.99994c2.35925,4.40839 1.73364,8.64697 5,9.99994c4.61938,1.91339 6.73352,8.64691 9.99988,9.99994c4.61938,1.91345 4.49255,5.64124 7.5,7.49994c6.72498,4.15625 12.74463,9.56104 17.49988,12.49994c10.63306,6.57159 12.69031,9.04321 15,9.99994c6.53271,2.70599 9.5592,8.71558 14.99988,9.99994c9.73242,2.29749 14.12207,-4.51056 19.99988,5c1.31433,2.12665 5.39819,1.52661 12.49988,4.99994c8.09741,3.96027 10.05615,4.08362 17.5,5c10.23022,1.25946 15.03711,1.8891 19.99976,2.5c10.23047,1.2594 10.58496,1.23224 22.5,7.49994c7.97729,4.19635 16.61841,12.43121 27.49976,14.99988c4.86621,1.14874 11.04712,1.04718 15,5c3.95288,3.95282 7.49976,2.5 14.99976,4.99994c0,0 5.86548,4.26361 10,9.99994c6.53735,9.06995 14.94019,29.44818 20,57.49969c4.90161,27.17468 2.5,37.49976 2.5,42.49976c0,4.99994 0,9.99994 0,9.99994c0,7.49994 0,17.49988 0,29.99982c0,17.49988 0,29.99982 0,47.49969c0,2.5 0,7.5 0,12.49994c0,5 0,7.5 0,9.99994c0,5 -1.14697,6.73358 -2.5,9.99994c-1.91333,4.61938 -3.54712,6.04712 -7.5,9.99994c-3.95288,3.95288 -5.2146,8.55115 -10,10c-8.62695,2.61206 -12.5,9.99988 -15,9.99988c-7.49976,0 -14.99976,5 -17.49976,5c-2.5,0 -7.63379,-1.1488 -12.5,0c-5.44067,1.2843 -7.5,2.5 -15,2.5c-4.99976,0 -9.99976,2.5 -12.49976,2.5c-5,0 -8.8728,2.38794 -17.5,5c-2.39282,0.72449 -10,0 -17.49976,0c-7.5,0 -12.5,0 -17.5,0c-2.5,0 -5,0 -7.5,0c-4.99988,0 -10.02417,-2.00732 -14.99988,-2.5c-12.68542,-1.2561 -20.10315,-7.11804 -29.99976,-10c-7.59045,-2.21033 -17.81763,-9.19641 -24.99988,-12.49988c-13.24377,-6.09131 -16.90259,-11.03973 -24.99988,-14.99994c-7.10181,-3.47333 -10.97632,-6.27966 -17.49988,-12.49994c-10.55005,-10.05957 -20.52905,-11.78522 -27.49988,-17.49988c-5.46838,-4.48297 -14.99988,-9.99994 -22.49988,-14.99994c-7.49988,-4.99994 -9.69629,-8.73358 -17.49988,-9.99994c-2.46777,-0.40045 -10,-4.99994 -12.49988,-7.49994c-2.5,-2.50006 -5.36072,2.33533 -7.5,7.49994c-3.02539,7.30383 -14.09058,17.95044 -27.49988,29.99982c-14.52344,13.05048 -26.37231,26.51599 -34.99976,39.99982c-9.03845,14.12634 -11.12097,19.51404 -14.99988,29.99976c-3.57617,9.66748 -7.5,19.99988 -12.5,27.49988c-4.99988,7.5 -9.99988,12.49988 -17.49988,22.49988c-7.5,9.99988 -12.49988,14.99988 -19.99988,19.99988c-7.5,5 -19.31616,10.73401 -29.99976,19.99988c-9.44312,8.19006 -17.03503,11.37219 -29.99988,14.99988c-14.64429,4.09753 -30.62634,-0.27087 -47.49976,5c-16.00757,5.00037 -32.5675,9.70435 -54.99963,14.99988c-20.06396,4.73645 -47.46106,10.2019 -59.99963,12.5c-14.95776,2.74158 -24.67065,3.22144 -34.99988,7.49988c-14.60779,6.05066 -24.13696,7.05737 -39.99976,12.5c-12.0575,4.13696 -22.16724,3.86047 -39.99976,7.49988c-19.74841,4.03052 -34.99976,2.5 -49.99963,2.5c-12.5,0 -27.49988,0 -37.49976,0c-10,0 -17.57495,1.2218 -27.49988,0c-10.23059,-1.2594 -24.8335,-5.34253 -39.99976,-12.49988c-22.26697,-10.5083 -36.90735,-15.95129 -52.49976,-24.99988c-14.50488,-8.41748 -27.49976,-14.99988 -37.49976,-19.99988c-9.99988,-5 -22.30078,-10.41992 -32.49976,-14.99988c-12.28137,-5.51514 -27.72058,-9.38098 -42.49976,-15c-17.79639,-6.76624 -27.49988,-9.99988 -32.49988,-9.99988c-2.49994,0 -4.99994,0 -7.49994,0c-7.49994,0 -14.01599,1.37244 -27.49982,9.99988c-14.12634,9.03845 -30.16632,17.1759 -44.99976,24.99988c-22.76617,12.00818 -37.49976,14.99988 -52.49969,22.49988c-14.99994,7.5 -30.21844,11.98474 -42.49976,17.49988c-10.1991,4.58008 -21.61859,12.43127 -32.49982,15c-14.59863,3.44629 -30.02399,6.72314 -42.49976,7.49988c-20.11658,1.25244 -32.74127,6.33435 -47.49969,10c-7.67249,1.90564 -16.75616,3.90869 -29.99982,9.99988c-7.18237,3.30347 -19.99988,7.5 -32.49982,12.5c-12.49994,4.99988 -32.68896,6.41736 -49.99969,9.99988c-27.91272,5.77673 -37.96796,5.97937 -54.99969,10c-10.88116,2.5686 -19.69629,6.23352 -27.49982,7.49988c-2.46771,0.40051 -5,0 -7.49994,0c-2.5,0 -5,0 -10,0c-7.49994,0 -15.06674,-1.92566 -17.49988,-2.5c-5.44055,-1.2843 -7.71448,-3.5509 -12.49991,-4.99988c-8.62708,-2.61206 -12.49994,-7.5 -17.49991,-10c-9.99994,-5 -20.39807,-6.52649 -27.49985,-9.99988c-8.09726,-3.96021 -17.82986,-9.38831 -27.49982,-15c-7.79614,-4.52429 -9.99994,-4.99988 -12.49994,-4.99988c-7.49997,0 -9.99994,-5 -14.99991,-7.5c-4.99997,-2.5 -9.99997,-7.5 -14.99991,-12.49988c-5,-5 -11.80994,-10.55676 -19.99988,-19.99988c-6.94946,-8.01282 -19.53156,-20.51685 -24.99988,-24.99988c-6.97076,-5.71472 -15.4649,-11.73145 -19.99988,-15c-8.60443,-6.20166 -15.52905,-14.28528 -22.49985,-19.99988c-5.46829,-4.48291 -9.53159,-10.51685 -14.99994,-14.99988c-6.97076,-5.71472 -13.24239,-16.53442 -19.99986,-22.49988c-4.1908,-3.69958 -5.24466,-9.56091 -9.99994,-12.49988c-2.12663,-1.31433 -9.99992,-5 -12.49994,-10c-2.49995,-4.99988 -6.52655,-10.39807 -9.99994,-17.49988c-3.96022,-8.09717 -9.99991,-12.49988 -14.99991,-22.49988c-4.99994,-9.99988 -8.27548,-19.29736 -14.99991,-27.49982c-5.71466,-6.97076 -7.67979,-12.38312 -12.49994,-19.99988c-7.79521,-12.31799 -12.93266,-19.63171 -14.99991,-22.49988c-6.5372,-9.06995 -6.31963,-24.40967 -17.49989,-29.99982c-2.23605,-1.11804 -7.49994,-14.99988 -12.49992,-24.99988c-4.99996,-9.99994 -9.79397,-18.46704 -12.49993,-24.99982c-1.91342,-4.61938 -2.49998,-9.99994 -2.49998,-14.99994c0,-4.99994 0,-12.49988 0,-14.99988c0,-7.5 -3.94301,-11.12006 0,-17.49994c2.93891,-4.75525 9.99995,-7.49994 14.99992,-12.49988c4.99998,-5 16.18317,-5.28137 24.99985,-9.99994c7.94728,-4.2533 9.99994,-7.5 12.49992,-7.5c7.49995,0 12.63527,-1.0816 19.99989,-2.49994c13.21992,-2.54596 27.49983,-5 37.49977,-5c9.99994,0 19.99989,0 29.99983,0c9.99992,0 19.99989,0 29.99983,0c4.99997,0 14.99991,0 29.99982,2.5c14.99991,2.5 31.97546,9.97552 49.99969,12.49994c19.80655,2.77405 34.47546,7.47552 52.49969,9.99994c17.33075,2.42725 32.52881,6.56787 47.49973,7.49994c20.11658,1.25244 30.10443,6.77136 49.99969,9.99994c12.58292,2.04193 31.34927,6.17181 49.99973,9.99994c4.89783,1.00531 19.99988,2.5 24.99988,2.5c9.99994,0 19.99988,0 34.99976,0c14.99994,0 32.49982,0 49.99969,0c24.99988,0 69.99963,0 99.99945,0c24.99982,0 52.49969,0 79.99951,0c29.99982,0 52.03864,-7.48108 72.49957,-9.99994c19.85004,-2.44366 40.42169,-5.43481 57.49969,-9.99994c13.00616,-3.47668 44.31342,-10.77014 59.99957,-19.99988c12.18872,-7.17181 25.1532,-14.56146 39.99976,-19.99988c12.64148,-4.63068 30.22546,-7.63623 42.49976,-10c13.21997,-2.5459 28.20911,-4.15924 47.49976,-9.99994c10.70056,-3.23987 29.76929,-8.74048 39.99976,-9.99994c14.88757,-1.83276 32.31433,-8.74384 44.99976,-9.99994c24.87817,-2.46344 37.36658,-8.74677 54.99963,-9.99994c12.46851,-0.88611 29.3927,-7.46722 44.99976,-9.99994c9.87085,-1.60181 24.99988,0 34.99988,0c9.99988,0 14.99988,0 19.99988,0c9.99988,0 20.12903,-1.60181 29.99976,0c15.60706,2.53271 25.0188,6.96832 32.49988,7.5c17.63306,1.25311 29.99976,7.49994 37.49976,7.49994c5,0 14.69629,3.73364 22.49988,4.99994c9.87073,1.60175 17.49988,0 22.49988,0c4.99988,0 9.99988,0 17.49988,0c7.49988,0 23.35852,-4.40784 37.49976,-9.99994c16.7644,-6.62946 32.94214,-15.86285 44.99976,-19.99988c15.86267,-5.44263 24.99988,-9.99994 34.99976,-14.99988c10,-5 19.36682,-5.92828 29.99988,-12.49994c4.75513,-2.9389 22.69592,-9.47461 29.99976,-12.49994c10.32922,-4.2785 20.16492,-7.19409 24.99988,-9.99994c7.79614,-4.52429 14.99988,-9.99994 14.99988,-9.99994c10,-5 14.44055,-8.80432 19.99988,-19.99988c8.0946,-16.30103 22.07813,-35.55115 34.99988,-44.99976c14.55225,-10.64081 23.46265,-15.92993 29.99976,-24.99982c4.13452,-5.73639 10,-10 17.49988,-14.99994c7.5,-5 13.58655,-10.37744 19.99988,-14.99988c10.1405,-7.30884 19.25623,-21.40869 32.49988,-27.49988c7.18237,-3.30347 16.03003,-7.42126 24.99988,-12.49994c6.15308,-3.48386 8.23218,-8.23218 9.99988,-9.99991c3.53552,-3.53552 10,-4.99997 12.5,-7.49997c2.5,-2.49997 7.49988,-2.49997 7.49988,-2.49997c10,0 15.0365,-4.26096 22.49988,-4.99997c12.68555,-1.2561 19.99988,-2.5 32.49988,-2.5c7.5,0 14.99976,0 19.99976,0c5,0 10,0 15,-2.49997c0,0 0,-7.49997 0,-19.99991c0,-9.99994 5,-27.49982 5,-37.49976c0,-7.49997 0,-9.99994 0,-12.49994c0,-4.99997 2.87012,-8.07086 0,-14.99991c-1.35303,-3.26642 -5,-4.99997 -10,-9.99994c-2.5,-2.5 -7.22144,-5.48526 -19.99976,-12.49994c-4.90039,-2.69003 -16.08862,-4.89783 -27.5,-9.99994c-11.63721,-5.20309 -19.27991,-9.95398 -32.49976,-12.49991c-2.45483,-0.47278 -12.49988,0 -19.99988,0c-7.5,0 -19.84473,-8.7457 -34.99976,-9.99997c-7.47449,-0.61862 -17.17053,-0.72147 -27.49988,-4.99997c-7.30396,-3.02536 -17.79504,-0.93851 -34.99976,-4.99997c-15.38843,-3.63269 -37.80615,-6.98398 -52.49976,-9.99994c-18.65051,-3.82816 -30.27039,-7.16333 -44.99976,-9.99994c-13.21985,-2.54593 -22.49988,-7.49994 -32.49976,-7.49994c-10,0 -19.99988,0 -29.99988,0c-9.99988,0 -19.99988,0 -29.99976,0c-12.5,0 -24.99988,0 -44.99976,0c-17.49988,0 -37.12878,4.98773 -62.49963,7.49994c-22.39038,2.21707 -54.68555,8.8924 -84.99951,14.99991c-32.23438,6.49445 -69.83655,13.30585 -104.99939,19.99988c-29.87695,5.68777 -60.04553,12.25912 -99.99939,19.99991c-25.02954,4.8493 -47.49976,9.99994 -69.99963,14.99991c-22.49988,4.99997 -40.43079,4.74506 -64.99963,9.99994c-23.19238,4.96048 -49.99963,9.99991 -79.99951,17.49988c-29.99976,7.49994 -59.99963,12.49994 -104.99933,12.49994c-27.49988,0 -52.49969,0 -74.99957,0c-17.49994,0 -32.49982,0 -47.49976,0c-12.49988,0 -27.49982,0 -44.99969,0c-19.99988,0 -32.18964,-7.49139 -62.49963,-9.99994c-14.94885,-1.23721 -32.31433,-8.74384 -44.99976,-9.99994c-7.46344,-0.73901 -24.9353,-5.34778 -37.49976,-7.49997c-17.42383,-2.98459 -32.52252,-7.32465 -52.49969,-9.99994c-17.52118,-2.34641 -37.55438,-7.23431 -62.49963,-12.49991c-22.55176,-4.76038 -37.84351,-5.54138 -57.49969,-9.99994c-15.41959,-3.49759 -34.89597,-8.74805 -57.49966,-9.99994c-19.96927,-1.10599 -39.72852,-0.86899 -62.49963,-7.49997c-9.89664,-2.88193 -23.87274,-4.88791 -32.49979,-7.49997c-7.17816,-2.17337 -15.02548,-1.88138 -22.49988,-2.49997c-15.155,-1.25427 -25.04211,-7.25845 -39.99976,-9.99994c-12.53864,-2.29813 -22.88474,-0.1283 -29.99983,-2.5c-11.85846,-3.95282 -19.11864,-12.43121 -29.99983,-14.99991c-7.29932,-1.72314 -15.04857,-1.51459 -24.99985,-2.49997c-12.68544,-1.2561 -20.19597,-6.97458 -27.49985,-9.99994c-5.16461,-2.13925 -12.49992,-2.5 -19.99988,-2.5c-2.49998,0 -5.25655,1.58115 -9.99994,0c-11.85847,-3.95282 -16.49339,-4.74265 -24.99986,-9.99994c-4.75526,-2.9389 -7.96497,-6.73135 -12.49992,-9.99994c-5.73632,-4.13449 -7.96497,-4.23135 -12.49993,-7.49997c-2.86815,-2.06723 -5.20074,-5.94098 -14.99991,-9.99994c-2.30968,-0.9567 -7.60722,-1.77553 -9.99994,-2.49998c-8.62706,-2.61206 -12.49993,-7.49995 -14.99991,-7.49995c-4.99997,0 -10.37331,-1.18567 -12.49992,-2.49998c-4.75526,-2.9389 -4.99997,-4.99997 -7.49996,-7.49995c-2.49998,-2.49998 -4.99997,-2.49998 -9.99994,-7.49995c-2.49999,-2.49998 -4.99997,-4.99997 -4.99997,-4.99997c0,-4.99997 -6.23361,-9.69633 -7.49996,-17.49989c-0.40045,-2.4677 0,-2.49998 0,-9.99994c0,-2.49998 0,-2.49998 0,-7.49997c0,-2.49998 0,-4.99997 0,-4.99997c0,-4.99997 0,-9.99994 0,-9.99994c0,-4.99997 0,-9.99994 0,-9.99994l0,-4.99997l0,-2.49998l0,-2.49998"
  );
  animation: move 30000ms infinite normal linear;
  width: 40px;
  height: 40px;
  background: none;
  position: fixed;
  z-index: 9999;
  font-size: 40px;
}

.syringe-gif {
  width: 45px !important;
}

.syringe:hover {
  animation-play-state: paused;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}

.setting {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #fff;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  z-index: 999;
  transition: all 0.3s;
  mix-blend-mode: exclusion;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

.header {
  padding: 0px 100px;
  background-color: #f5f2ec;
  position: relative;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto 1fr;
  height: auto;
  align-items: center;
  gap: 100px;
  font-family: Euclid-Circular-B-Regular;
}

.navbar-logo {
  width: 100%;
  padding: 18px 0px;
  position: relative;
}

.navbar-logo-in {
  max-width: 132px;
  height: auto;
}

.navbar-menu-in {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar-menu-in > li > a {
  font-size: 16px;
  color: #1c1d20;
  padding: 30px 25px;
  transition: 0.4s;
}

.navbar-menu-in li a:hover,
.call-us > a:hover,.online-call-number>a:hover{
  color: #e8bf96;
}

.down-icon {
  margin-inline-start: 5px;
  font-weight: 600;
  font-size: 14px;
}

.call-us {
  text-align: right;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 25px;
  position: relative;
}

.call-us-text {
  display: block;
  font-size: 14px;
  color: #3f4061;
}

.call-us a {
  color: black;
  transition: 0.4s;
  font-size: 18px;
}

.navbar-logo::after,
.call-us::after {
  content: "";
  background-color: #494b6c2e;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.navbar::after {
  content: "";
  background-color: #494b6c2e;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
}

.call-us::after {
  right: -25px;
}

.navbar-logo::after {
  right: -54px;
}

.call-icon {
  font-size: 16px;
}

.navbar-other {
  gap: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.signup-button {
  padding: 12px 25px;
  color: white;
  background-color: #6a6bbf;
  gap: 10px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  overflow: hidden;
}

.signup-button > a {
  color: white;
}

.navbar-in-menubar {
  font-size: 30px;
  display: none;
}
.navbar-pages-menu{
  position: relative;
}
.navbar-menu-hover{
  position: absolute;
  z-index: 10;
  width: 250px;
  padding: 18px 0px;
  left: 8px;
  top: 40px;
  background-color: #232529;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;
}
.navbar-menu-hover li{
  padding: 0 25px;
}
.navbar-pages-menu:hover .navbar-menu-hover{
  opacity: 1;
  visibility: visible;
  left: 0;
}
.navbar-menu-hover li a {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  padding: 10px 0;
  background-color: transparent;
  border-radius: 8px;
  text-transform: capitalize;
  display: flex;
}
.signup-button::after,.prescription-btn::after {
  position: absolute;
  content: "";
  width: 150%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: #E8BF96;
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transition: all 0.75s;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.signup-button:hover::after,.prescription-btn:hover::after{
  opacity: 1;
  visibility: visible;
  height: 300%;
}
.hero-section {
  background-color: #f5f2ec;
  height: auto;
  font-family: Euclid-Circular-B-Regular;
  position: relative;
  padding: 0px 200px;
  overflow: hidden;
}

.hero-section-in,
.signup-button,
.happy-client-rating,
.happy-client .client-info,
.hero-right-ptext,
.hero-doctor-video,.footer-social-media,.footer-download {
  display: flex;
}

.hero-section-left,
.hero-section-right {
  padding: 0px 10px;
  flex: 0 0 auto;
  width: 50%;
}

.hero-section-left-in {
  padding-top: 190px;
  padding-bottom: 150px;
}

.hero-section-right-in {
  height: 100%;
  padding-top: 160px;
  position: relative;
}

.hero-section-left-text,.doctorblog-up,.achievement-up-in {
  padding-bottom: 60px;
}

.hero-left-htext {
  color: #3f4061;
  font-weight: 100;
  font-size: 100px;
  line-height: 1;
  font-family: Estedad-Medium;
}

h1.hero-left-htext > span {
  color: #ff9428;
}

.happy-client-rating {
  gap: 80px;
  align-items: center;
  font-size: 14px;
  color: #3f4061;
  line-height: 1.5;
}

.happy-client > img {
  margin-bottom: 20px;
}

.happy-client .total {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  writing-mode: tb;
  transform: rotate(180deg);
}

.happy-client .client-info {
  gap: 15px;
  align-items: center;
}

.client-rating {
  position: relative;
}

.client-rating-text {
  padding-bottom: 20px;
}

.client-rating-text > p {
  font-size: 20px;
  max-width: 320px;
}

.client-text > p {
  font-size: 16px;
}

.happy-client-rating .client-rating::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: -40px;
  background-color: #1c1d20;
}

.hero-right-ptext {
  justify-content: flex-end;
  padding-bottom: 90px;
  position: relative;
  padding-right: 30px;
  font-size: 16px;
}

.hero-right-ptext span {
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  color: #3f4061;
  display: inline-block;
  text-transform: capitalize;
  background-color: #e8bf96;
}

.hero-right-arrow {
  position: absolute;
  right: 35px;
  top: 250px;
}

.hero-right-doctor {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 2;
}

.hero-doctor-video {
  justify-content: flex-end;
}

.hero-video-frame {
  width: 198px;
  height: 369px;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  z-index: 3;
  padding-left: 4px;
}

.hero-video-frame img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero-video-frame video {
  width: auto;
  height: 100%;
  border-radius: 40px;
}

.hero-caller-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 75px;
  transform: translateX(-50%);
  color: #fff;
}

.hero-bg-shape {
  position: absolute;
  z-index: 1;
}

.hero-bg-shape1 {
  left: 0;
  bottom: 50px;
}

.hero-bg-shape2 {
  left: 45%;
  bottom: 70px;
}

.hero-bg-shape3 {
  top: 130px;
  left: 53%;
}

.hero-bg-shape4 {
  left: 165px;
  top: 150px;
}

.hero-bg-shape5 {
  right: 175px;
  bottom: 135px;
}

.about-section {
  padding: 130px 0px 320px;
}

.pagewidth {
  max-width: 1320px;
  margin: 0 auto;
}

.about-section-main,
.doctor-section-card,
.online-section-main {
  display: flex;
  flex-wrap: wrap;
}

.about-section-left {
  width: 58%;
}

.about-section-right {
  width: 42%;
}

.about-section-left,
.about-section-right,
.counter-section-in,
.chamber-section-in,
.doctor-section-htext,
.doctor-card-item,
.online-section-left,
.online-section-right,
.achievement-section-up,
.achievement-section-down,
.prescription-section-main,
.questions-section-in,.subscribe-section-left,.subscribe-section-right,.doctorblog-main,.footer-section-in {
  padding: 0px 12px;
  color: #3f4061;
}

.about-section-left-in {
  font-family: Estedad-Medium;
  line-height: 1.1;
}

.about-left-htext {
  font-size: 90px;
  font-weight: 100;
}

.about-left-htext span,
.about-left-subtext {
  font-size: 36px;
  font-family: Estedad-Regular;
}

.about-section-right-in {
  font-size: 22px;
  font-family: Euclid-Circular-B-SemiBold;
}

.about-right-ptext > p {
  padding: 0px 0px 20px;
}

.about-right-subtext > p {
  font-size: 18px;
  font-family: Euclid-Circular-B-Regular;
  color: #555555;
  padding: 0px 0px 50px;
}

.schedule-section-in {
  position: relative;
}

.schedule-bg-image,.questions-image {
  overflow: hidden;
}

.schedule-bg-image img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.schedule-main {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: auto auto 330px;
  align-items: center;
  background: #6a6bbf;
  padding-left: 80px;
  position: absolute;
  width: 1600px;
  height: auto;
  right: 0;
  top: -160px;
  z-index: 9;
}

.schedule-htext > h2 {
  font-size: 60px;
  font-family: Estedad-Medium;
  color: white;
  line-height: 1.1;
  font-weight: 100;
}

.schedule-timetable-main {
  padding: 60px 0px;
}

.schedule-timetable-in {
  position: relative;
}

.schedule-timetable-in::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 200px;
  left: -100px;
  top: 0;
  background: #8181cb;
}

.schedule-timetable-in li:first-child {
  border-top: 1px dashed #8181cb;
}

.schedule-timetable-in li {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  padding: 12px 0;
  border-bottom: 1px dashed #8181cb;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr auto auto;
  font-family: Euclid-Circular-B-Regular;
}

.schedule-appointment {
  padding: 57px;
  background-color: #e8bf96;
}

.btn-appointment {
  font-size: 20px;
  line-height: 24px;
  color: #3f4061;
  text-align: center;
  border: 1px solid #3f4061;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 215px;
  width: 215px;
  padding: 20px;
  font-family: Euclid-Circular-B-SemiBold;
  gap: 10px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}
.btn-appointment::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 100%;
  left: 100%;
  opacity: 1;
  border-bottom: 3px solid #E8BF96;
  border-left: 3px solid #E8BF96;
  transition: all 0.75s;
}
.btn-appointment::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 100%;
  right: 100%;
  opacity: 1;
  border-right: 3px solid #E8BF96;
  border-top: 3px solid #E8BF96;
  transition: all 0.75s;
}
.btn-appointment:hover{
  border: 1px solid #3f406100;
  color: #6A6BBF;
}
.btn-appointment:hover::before,.btn-appointment:hover::after {
  border-color:  #6A6BBF;
}
.btn-appointment:hover::before{
  bottom: 0;
  left: 0;
}
.btn-appointment:hover::after{
  top: 0;
  right: 0;
}

.appointment-icon {
  font-size: 24px;
}

.counter-section {
  padding: 130px 0px 140px 0px;
}

.counter-htext,
.chamber-htext > h2,
.doctor-section-title > h2,
.online-right-in > h3,
.achievement-up-left > h3,
.prescription-section-contant > h3,.questions-title>h2,.subscribe-section-left>h2,.doctorblog-up>h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1;
  font-family: Estedad-Medium;
}

.counter-htext > span {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.counter-htext > span,
.doctor-section-title h2 span,
.prescription-section-contant span,.doctor-insta-text p span {
  color: #6a6bbf !important;
}

.counter-section-counter {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 130px;
}

.counter-number h3 {
  font-weight: 100;
  font-size: 100px;
  line-height: 1;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #58597d;
  font-family: Estedad-Regular;
}

.counter-text p,
.chamber-list-in span {
  font-weight: 100;
  font-size: 16px;
  font-family: Euclid-Circular-B-Regular;
  color: #555555;
}

.chamber-section {
  background-color: #6a6bbf;
  position: relative;
}

.chamber-section,
.doctor-section,
.achievement-section,
.questions-section {
  padding: 130px 0px 150px 0px;
}

.chamber-section-in {
  color: white;
}

.chamber-table {
  max-width: 50%;
  padding-top: 40px;
}

.chamber-list-in {
  height: 90px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 2fr 2.5fr 0.8fr;
  border-bottom: 1px solid #8181cb;
}

.chamber-list-in:first-child {
  height: 40px;
}

.chamber-list-in span {
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
}

.chamber-list-in span:first-child::after {
  position: unset;
  width: 0;
  height: 0;
}

.chamber-list-in:first-child span::after {
  position: unset;
  height: 0;
  width: 0;
}

.chamber-list-in span::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 75%;
  bottom: 0;
  inset-inline-start: -20px;
  background: #8181cb;
}

.chamber-bg-image {
  position: absolute;
  width: 45%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;
}

.chamber-bg-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}


.doctor-section-title {
  text-align: center;
  padding: 0px 0px 55px;
}

.doctor-card-item {
  flex: 0 0 auto;
  width: 25%;
}

.doctor-card-item-in {
  width: 100%;
  position: relative;
  height: 459px;
}

.doctor-card-photo {
  width: 100%;
  position: relative;
  object-fit: cover;
  height: 100%;
}

.doctor-card-text {
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
  padding-left: 40px;
  padding-bottom: 40px;
  font-weight: 600;
  line-height: 1.3;
  color: white;
}

.doctor-card-text h3 {
  font-size: 24px;
  font-family: Estedad-SemiBold;
}

.doctor-card-text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  font-family: Euclid-Circular-B-Regular;
}

.doctor-card-item-in::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(106, 107, 191, 0) 60.33%,
    #6a6bbf 105.67%
  );
}

.doctor-card-playbtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #1c1d20;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  z-index: 1;
  border: 2px solid white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s;
}

.doctor-card-item-in:hover .doctor-card-playbtn {
  opacity: 1;
}

.online-section-main {
  font-family: Estedad-Medium;
  padding-bottom: 110px;
}

.online-section-left {
  width: 58%;
}

.online-section-right {
  width: 42%;
}

.online-left-in {
  padding-left: 30px;
  position: relative;
}

.online-right-in {
  padding-top: 110px;
}

.online-left-in > h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: white;
  text-align: center;
  position: absolute;
  inset-inline-start: 30%;
  bottom: 175px;
}

.online-right-in > p {
  padding-top: 25px;
  font-size: 18px;
  font-family: Euclid-Circular-B-Regular;
  color: #555555;
  line-height: 1.6;
}

.online-section-call {
  margin-top: 40px;
  display: grid;
  grid-gap: 90px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #58597d;
  border-bottom: 1px solid #58597d;
  padding: 18px 0;
  position: relative;
  font-family: Euclid-Circular-B-Regular;
}

.online-call-number {
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.online-call-number a,
.online-call-btn a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  text-align: end;
  transition: all 0.s;
}

.online-call-number span {
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: #1c1d20;
}

.online-call-number i {
  font-size: 24px;
}

.online-call-btn a img {
  filter: brightness(0.2);
}

.online-call-btn::after {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% - 20px);
  top: 10px;
  inset-inline-start: 50%;
  background-color: #58597d;
}

.achievement-section {
  background-color: #eeeef5;
}

.achievement-up-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.achievement-up-right > p,
.prescription-section-contant > p ,.doctor-insta-text p,.footer-menu-in li a{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  font-family: Euclid-Circular-B-Regular;
}

.achievement-up-right > p {
  max-width: 420px;
  text-indent: 50px;
}

.achievement-down-in {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #dfdfeb;
}

.achievement-item {
  text-align: center;
  position: relative;
  padding: 40px 20px;
}

.achievement-image {
  margin-bottom: 20px;
}

.achievement-item .achievement-image-htext {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 15px;
  font-family: Estedad-Regular;
}

.achievement-item .achievement-image-ptext,.doctorblog-date-comment p {
  font-size: 14px;
  line-height: 1;
  font-family: Euclid-Circular-B-Regular;
}

.achievement-item::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: -24px;
  background-color: #dfdfeb;
}
.prescription-section {
  background-image: url("/assets/images/doctor/bg-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0px;
  font-family: Estedad-Regular;
}
.prescription-section-contant {
  max-width: 520px;
  margin-left: auto;
  padding: 80px;
  background-color: white;
}
.prescription-section-contant > h2 {
  font-size: 16px;
  padding: 0px 0px 10px;
}
.prescription-section-contant > h3 {
  padding: 0px 0px 25px;
}
.prescription-section-contant > p {
  color: #555555;
  padding: 0px 0px 60px;
}

.prescription-btn {
  padding: 12px 26px;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  background-color: #6a6bbf;
  color: white;
  font-family: Euclid-Circular-B-Regular;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 50%;
}

.accordion-item-header::before {
  content: "\002B";
}
.accordion-item-header.active::before,.accordion-item-header::before {
    position: absolute;
    left: 0;
    font-size: 30px;
}
.accordion-item-header.active::before {
  content: "\2212";

}

.accordion-item-body {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.questions-list-main {
    display: grid;
    grid-gap: 110px;
    grid-template-columns: 1.7fr 1fr;
    font-family: Estedad-Regular;
}
.questions-title>h2,.doctorblog-up{
    text-align: center;
}
.questions-title{
    padding-bottom: 50px;
}
.accordion-item-header {
    padding: 30px 30px 30px 80px;
    font-weight: 500;
    line-height: 30px;
    background: transparent;
    position: relative;
}
.accordion-item-header>h2 {
    font-size: 20px;
    font-family: Estedad-SemiBold;
}
.accordion-item-body-content{
    padding: 0px 0px 30px 80px;
    color: #555555;
    font-size: 18px;
    line-height: 1.5;
    font-family: Euclid-Circular-B-Regular;
}
.questions-image img {
    object-fit: cover;
    transform-origin: left;
}
.subscribe-section{
    padding: 90px 0px;
    background-color: #6a6bbf;
    color: white;
}
.subscribe-section-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: Euclid-Circular-B-Regular;
}
.subscribe-form .input-box {
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: auto 85px;
    margin-bottom: 30px;
}
.subscribe-section-right {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Euclid-Circular-B-Regular;

}
.subscribe-form input[type=email],.subscribe-form .submit {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    color: white;
}
.subscribe-form input[type=email]{
    width: 100%;
    outline: none;
}
.subscribe-form .submit {
    text-align: left;
    background-repeat: no-repeat;
    background-position: right 7px;
    background-image: url('/assets/images/social-influence/arrow-2.png');
}
.subscribe-form  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: white;
    gap: 10px;
    display: flex;
    align-items: center;
}
.subscribe-form #check {
    border: 1px solid #9394E0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    accent-color: transparent;
}
::placeholder,.subscribe-section-left>h2 {
    color:  white;
  }
.doctorblog-section{
  padding: 130px 0px;
}
.doctorblog-down {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}
.doctorblog-card-image {
  overflow: hidden;
  padding-bottom: 46px;
}
.doctorblog-card-image img{
  transform: scale(1.1);
  transition: all 0.5s;
}
.doctorblog-date-comment {
  gap: 50px;
  display: flex;
  padding-bottom: 10px;
}
.doctor-blog-htext{
  font-family: Estedad-Medium;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.1;
}
.doctorblog-date-comment p{
  line-height: 1.4;
  position: relative;
}
.doctorblog-date-comment p:first-child::after{
  position: unset;
}
.doctorblog-date-comment p::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 10px;
  left: -25px;
  top: 6px;
  background-color: #999999;
}
.doctorblog-card:hover .doctorblog-card-image img{
  transform: scale(1.1) translateX(4%);
}
.doctor-insta-text p{
  padding-bottom: 40px;
  text-align: center;
  color: #555555;
}
.doctor-insta-text p span {
  padding-left: 5px;
  border-bottom: 1px solid #6A6BBF;
}
.doctor-insta-allphoto {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.doctor-insta-image{
  overflow: hidden;
}

.doctor-insta-image img{
  width: 100%;
  transform: scale(1);
  transition: all 0.5s linear;
}
.doctor-insta-image img:hover{
  transform: scale(1.1);
}
.footer-section{
  padding: 110px 0px 15px;
  font-family: Euclid-Circular-B-Regular;
}
.footer-top {
  gap: 70px;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
}
.section-line{
    width: 100%;
    height: 1px;
    background-color: #E5E5EA;
}
.footer-social-media{
  gap: 25px;
}

.footer-social-media li a {
    color: #3F4061;
    font-size: 20px;
    transition: all 0.5s;
}
.footer-social-media li:hover a,.footer-copyright p a:hover{
  color: #E8BF96;
}

.footer-mid {
  gap: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}
.footer-menu-in{
  columns: 3;
  gap: 150px;
}
.footer-up-logo {
  flex-basis: 220px;
}
.footer-menu-in li {
  padding-bottom: 3px;
}
.footer-menu-in li a{
  font-size: 16px;
  color: #3F4061;
  position: relative;
}

.footer-menu-in li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #3F4061;
  transition: all 0.7s;
}
.footer-menu-in li a:hover::after{
  width: 100%;
}
.footer-download{
  flex-direction: column;
}
.footer-download-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    text-align: right;
    padding-bottom: 16px;
}
.footer-download-all{
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.footer-call-icon{
  color: #6A6BBF;
  font-size: 20px;
}
.footer-copyright p a{
  color: #3f4061;
}
.footer-copyright p{
  line-height: 1.5;
}

@media only screen and (max-width: 1919px) {
  .header {
    padding: 0px 30px;
  }

  .hero-section {
    padding: 0px 50px;
  }

  .hero-section-left-in {
    padding-top: 150px;
  }

  .hero-left-htext {
    font-size: 80px;
  }

  .hero-right-doctor img {
    max-width: 600px;
  }

  .hero-section-right-in {
    padding-top: 120px;
  }

  .hero-right-arrow {
    top: 210px;
  }

  .hero-bg-shape4 {
    left: 10px;
    top: 110px;
  }

  .hero-bg-shape1 {
    bottom: 5px;
  }

  .hero-bg-shape5 {
    right: 25px;
    bottom: 40px;
  }

  .schedule-main {
    grid-gap: 60px;
    width: 98%;
    padding-left: 60px;
  }

  .schedule-timetable-in::before {
    left: -65px;
  }

  .online-left-in > h3 {
    inset-inline-start: 35%;
  }
}

@media only screen and (max-width: 1399px) {
  .hero-section-left-in {
    padding-top: 130px;
  }

  .happy-client-rating,.doctorblog-down {
    gap: 40px;
  }

  .hero-left-htext {
    font-size: 72px;
  }

  .hero-right-doctor img {
    max-width: 580px;
  }

  .hero-section-left,
  .hero-section-right {
    padding: 0px;
  }

  .happy-client-rating .client-rating::before {
    left: -30px;
  }

  .hero-bg-shape4 {
    left: 20px;
    top: 80px;
  }

  .hero-bg-shape5 {
    right: 15px;
    bottom: 20px;
  }

  .happy-client .client-info {
    gap: 10px;
  }

  .about-section {
    padding: 120px 0px 280px;
  }

  .pagewidth {
    max-width: 1140px;
  }

  .about-section-right-in {
    font-size: 20px;
  }

  .about-section-left,
  .about-section-right {
    width: 50%;
  }

  .schedule-htext > h2,
  .counter-htext,
  .chamber-htext > h2,
  .doctor-section-title > h2,
  .online-right-in > h3,
  .achievement-up-left > h3,
  .prescription-section-contant > h3,.questions-title > h2,.subscribe-section-left>h2 ,.doctorblog-up > h2 {
    font-size: 48px;
  }

  .schedule-timetable-in li {
    font-size: 16px;
  }

  .counter-number h3 {
    font-size: 90px;
  }

  .counter-section-counter,.questions-list-main {
    grid-gap: 60px;
  }

  .counter-section,
  .chamber-section,
  .doctor-section,
  .achievement-section,
  .prescription-section,.questions-section ,.doctorblog-section{
    padding: 120px 0px;
  }

  .doctor-card-item-in {
    height: 391px;
  }

  .online-section-main,.doctorblog-down{
    padding-bottom: 120px;
  }

  .online-right-in {
    padding-top: 120px;
  }

  .achievement-down-in {
    grid-gap: 20px;
  }

  .achievement-item {
    padding: 30px 15px;
  }

  .achievement-item::after {
    left: -10px;
  }
  .accordion-item-header {
    padding: 25px 25px 25px 45px;
}
.accordion-item-body-content{
    padding: 0px 0px 30px 45px;
}
.footer-section {
  padding: 120px 0px 15px;
}
.footer-menu-in {
  gap: 100px;
}
}

@media only screen and (max-width: 1199px) {
  .navbar-menu {
    display: none;
  }

  .navbar {
    grid-gap: 30px;
    grid-template-columns: 1fr auto auto;
  }

  .navbar-logo::after {
    right: 0px;
  }

  .navbar-in-menubar {
    display: block;
    text-align: end;
  }

  .hero-section {
    padding: 0px 30px;
  }

  .hero-left-htext {
    font-size: 60px;
  }

  .client-rating-text > p {
    font-size: 18px;
    max-width: 260px;
  }

  .happy-client-rating .client-rating::before {
    left: -20px;
  }

  .hero-video-frame {
    width: 160px;
    height: 290px;
  }

  .hero-bg-shape4 {
    left: 10px;
    top: 50px;
  }

  .hero-right-doctor img {
    max-width: 520px;
  }

  .hero-bg-shape3 {
    max-width: 180px;
  }

  .hero-right-ptext {
    padding-right: 0px;
  }

  .about-section {
    padding: 100px 0px 360px;
  }

  .pagewidth {
    max-width: 960px;
  }

  .about-left-htext,
  .counter-number h3 {
    font-size: 70px;
  }

  .about-left-htext span,
  .about-left-subtext {
    font-size: 30px;
    font-family: Estedad-Regular;
  }

  .schedule-main {
    padding-top: 30px;
    padding-bottom: 20px;
    grid-column-gap: 40px;
    grid-row-gap: 0;
    grid-template-columns: repeat(5, 1fr);
    top: -260px;
  }

  .schedule-timetable-main {
    padding: 0;
    grid-column: 1/5;
  }

  .schedule-htext {
    grid-column: 1/-2;
  }

  .schedule-htext > h2,
  .counter-htext,
  .chamber-htext > h2,
  .doctor-section-title > h2,
  .online-right-in > h3,
  .achievement-up-left > h3,
  .prescription-section-contant > h3,.questions-title>h2 ,.subscribe-section-left>h2,.doctorblog-up > h2 {
    font-size: 36px;
  }

  .schedule-appointment {
    padding: 25px;
    background-color: #e8bf96;
  }

  .schedule-timetable-in::before {
    display: none;
  }

  .counter-section-counter,.doctorblog-down {
    grid-gap: 30px;
  }

  .counter-section,
  .chamber-section,
  .doctor-section,
  .achievement-section,
  .prescription-section,.questions-section,.doctorblog-section{
    padding: 100px 0px;
  }

  .counter-number h3 {
    margin-bottom: 10px;
  }

  .doctor-card-item-in {
    height: 324px;
  }

  .online-section-main {
    padding-bottom: 100px;
  }

  .online-right-in {
    padding-top: 100px;
  }

  .online-left-in {
    padding-left: 20px;
  }

  .online-section-left,
  .online-section-right {
    width: 50%;
  }

  .online-left-in > h3 {
    inset-inline-start: 33%;
    bottom: 120px;
    font-size: 16px;
  }
  .prescription-section-contant {
    padding: 50px;
  }
  .accordion-item-header {
    padding: 20px 20px 20px 30px;
}
.accordion-item-body-content {
    padding: 0px 0px 30px 30px;
}
.subscribe-section {
  padding: 60px 0px;
}
.subscribe-form .input-box {
  margin-bottom: 20px;
}
.doctor-blog-htext {
  font-size: 24px;
}
.doctorblog-down{
  padding-bottom: 90px;
}
.footer-section {
  padding-top: 100px;
}
.footer-menu-in {
  gap: 60px;
}
}

@media only screen and (max-width: 991px) {
  .hero-left-htext {
    font-size: 48px;
  }

  .hero-section-left-text {
    padding-bottom: 40px;
  }

  .hero-right-ptext {
    justify-content: flex-start;
    z-index: 4;
  }

  .hero-section-left {
    width: 58%;
  }

  .hero-section-right {
    width: 42%;
  }

  .hero-right-arrow {
    top: 210px;
    left: 100px;
  }

  .hero-bg-shape3,.hero-bg-shape5,.questions-image {
    display: none;
  }


  .hero-right-doctor img {
    max-width: 460px;
  }

  .hero-doctor-video {
    justify-content: flex-start;
  }

  .pagewidth {
    max-width: 720px;
  }

  .about-section-main {
    display: block;
  }

  .about-section {
    padding: 90px 0px 340px;
  }

  .about-section-left,
  .about-section-right {
    width: 100%;
    padding: 0;
  }

  .about-section-left {
    padding: 0px 0px 30px;
  }

  .about-left-htext {
    font-size: 60px;
  }

  .about-right-ptext > p {
    width: 65%;
  }

  .btn-appointment {
    width: 170px;
    height: 170px;
    font-size: 18px;
  }

  .schedule-main {
    width: 98%;
    padding-left: 30px;
    grid-row-gap: 40px;
    padding-bottom: 50px;
  }

  .counter-section-counter {
    padding-top: 70px;
  }

  .counter-number h3 {
    font-size: 60px;
  }

  .counter-section,
  .prescription-section,.questions-section,.doctorblog-section {
    padding: 90px 0px;
  }

  .chamber-section {
    padding: 90px 0px 0px;
  }

  .chamber-table {
    max-width: 100%;
  }

  .chamber-bg-image {
    position: unset;
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
    margin-bottom: -7px;
  }

  .chamber-bg-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .chamber-list-in {
    height: 70px;
  }

  .doctor-section-title,.doctorblog-up{
    padding: 0px 0px 40px;
  }

  .doctor-card-item {
    width: 50%;
  }

  .doctor-card-item-in {
    height: 504px;
    margin: 0px 0px 32px;
  }

  .online-section-main {
    padding-bottom: 90px;
  }

  .online-right-in {
    padding-top: 0px;
  }

  .online-call-number,.doctorblog-date-comment {
    gap: 15px;
  }

  .online-section-call {
    grid-gap: 30px;
  }

  .achievement-down-in {
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .achievement-up-in,
  .prescription-section-contant > p {
    padding-bottom: 40px;
  }
  .questions-list-main {
    display: block;
}
.subscribe-section-main {
  gap: 40px;
}
.doctorblog-date-comment {
  justify-content: space-between;
}
.doctorblog-down {
  grid-gap: 20px;
}
.doctor-blog-htext {
  font-size: 20px;
}
.footer-section {
  padding-top: 90px;
}
.footer-top {
  padding-bottom: 50px;
}
.footer-mid {
  gap: 40px;
  margin-bottom: 50px;
}
.footer-download-image img {
  max-width: 120px;
}
.footer-menu-in {
  gap: 40px;
}
}

@media only screen and (max-width: 767px) {
  .navbar {
    grid-template-columns: 1fr 1fr;
  }

  .navbar-other {
    display: none;
  }

  .navbar-logo::after {
    right: -35px;
  }

  .header,
  .hero-section {
    padding: 0px 15px;
  }

  .hero-section-in {
    flex-direction: column;
  }

  .hero-section-left {
    width: 100%;
  }

  .hero-section-left-in {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .hero-left-htext {
    font-size: 48px;
  }

  .hero-section-left-text,
  .achievement-up-in,
  .prescription-section-contant > p,.questions-title {
    padding-bottom: 30px;
  }

  .client-rating-text > p {
    font-size: 16px;
  }

  .setting {
    display: none;
  }

  .hero-section-right {
    width: 100%;
  }

  .hero-section-right-in,
  .about-section,
  .counter-section,
  .doctor-section,
  .achievement-section,
  .prescription-section,.questions-section,.doctorblog-section{
    padding: 60px 0px;
  }

  .hero-right-ptext {
    justify-content: flex-end;
  }

  .hero-doctor-video {
    justify-content: flex-end;
  }

  .hero-right-arrow {
    top: 150px;
    left: unset;
    right: 20px;
  }

  .hero-right-doctor img {
    max-width: 400px;
  }

  .hero-right-doctor {
    left: -60px;
  }

  .hero-bg-shape2 {
    bottom: 30px;
  }

  .hero-bg-shape5 {
    display: block;
  }

  .hero-br,
  .about-br {
    display: none;
  }

  .pagewidth {
    max-width: 540px;
  }

  .about-right-ptext > p {
    width: 90%;
  }

  .about-right-subtext > p {
    padding: 0px 0px 30px;
  }

  .about-left-htext {
    font-size: 50px;
  }

  .about-section-main{
    padding: 0px 12px;
  }

  .schedule-main {
    width: 100%;
    position: unset;
    padding: 0;
  }

  .schedule-main .schedule-htext {
    padding: 50px 15px 0;
  }

  .schedule-timetable-main {
    grid-column: 1/-1;
    padding: 0 15px;
  }

  .schedule-timetable-in li {
    grid-template-columns: 85px auto auto;
  }

  .schedule-appointment {
    grid-column: 1/-1;
    padding: 30px;
    background-color: #e8bf96;
  }

  .btn-appointment {
    font-size: 18px;
  }

  .counter-htext,
  .chamber-htext > h2,
  .doctor-section-title > h2,
  .online-right-in > h3,
  .achievement-up-left > h3,
  .prescription-section-contant > h3,.questions-title>h2,.subscribe-section-left>h2 ,.doctorblog-up > h2{
    font-size: 32px;
  }

  .chamber-section {
    padding: 60px 0px 0px;
  }

  .counter-section-counter {
    padding-top: 60px;
    grid-gap: 50px 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .counter-number h3 {
    font-size: 50px;
  }

  .chamber-list-in br {
    display: none;
  }

  .doctor-section-title ,.doctor-insta-text p{
    padding: 0px 0px 30px;
  }

  .doctor-card-item {
    width: 100%;
  }

  .doctor-card-item-in {
    margin: 0px 0px 32px;
    height: 774px;
  }

  .online-section-left,
  .online-section-right {
    width: 100%;
  }

  .online-left-in {
    padding-left: 0px;
  }

  .online-call-number a,
  .online-call-btn a {
    font-size: 16px;
  }
  .achievement-up-in {
    flex-wrap: wrap;
  }
  .achievement-down-in {
    grid-template-columns: 1fr;
  }
  .achievement-image-htext br {
    display: none;
  }
  .achievement-item {
    padding: 20px 15px;
  }
  .prescription-section-contant {
    padding: 40px 30px;
  }
  .doctorblog-down {
    grid-gap: 40px;
    grid-template-columns: 1fr;
}
.doctorblog-down {
  padding-bottom: 60px;
}
.doctor-insta-allphoto {
  grid-template-columns: repeat(2, 1fr);
}
.image-none{
  display: none;
}
.footer-top {
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-up-logo,.footer-mid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-menu-in {
  gap: 60px;
  columns: 2;
}
.footer-download-text {
  text-align: center;
}

.footer-btm {
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.footer-copyright p br{
  display: none;
}
.footer-section {
  padding-top: 60px;
}
}

@media only screen and (max-width: 425px) {
  .doctor-card-item-in {
    margin: 0px 0px 30px;
    height: 444px;
  }
  .prescription-btn {

    width: 100%;
   justify-content: center;
  }
}
